RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
RewriteBase /
#RewriteBase /bhl-light/

#-----------------------------------------------------------------------------------------
# bibliography
RewriteRule bibliography/(.*)$ ?bibliography=$1 [NC,L]

# item views
RewriteRule item/(\d+)$ ?item=$1 [NC,L]
RewriteRule item/(\d+)/thumbnails$ ?item=$1&thumbnails [NC,L]
RewriteRule item/(\d+)/figures$ ?item=$1&figures [NC,L]
RewriteRule item/(\d+)/manifest.json$ ?item=$1&iiif [NC,L]

# go to specific place in list of pages, thumbnails, figures
RewriteRule item/(\d+)/offset/(\d+)$ ?item=$1&offset=$2 [NC,L]
RewriteRule item/(\d+)/offset/(\d+)/thumbnails$ ?item=$1&offset=$2&thumbnails [NC,L]
RewriteRule item/(\d+)/offset/(\d+)/figures$ ?item=$1&offset=$2&figures [NC,L]

# viewer
# We want a canonical URL for viewer to support annotations
RewriteRule viewer/([A-Za-z0-9]+)$ viewer.php?id=$1 [NC,L]

# list of titles
RewriteRule containers$ ?containers[NC,L]
RewriteRule containers/(.*)$ ?containers&letter=$1 [NC,L]

# page
RewriteRule page/(\d+)$ ?page=$1 [NC,L]

# map
RewriteRule map$ ?map [NC,L]

# images
RewriteRule pagethumb/(\d+)$ ?pagethumb=$1 [NC,L]
RewriteRule pageimage/(\d+)$ ?pageimage=$1 [NC,L]
